.list-unstyled li.even {
    background-color: #9d9d9d;
  }

.list-unstyled li.odd {
    background-color: #ffffff;
  }

.white {
    color: white;
    text-decoration: none
}

.black {
    color: rgb(0, 0, 0);
    text-decoration: none
}

td.score_bg {
  text-align: center;
  background-color: rgb(164, 163, 163);
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

td.score_sum_bg {
  text-align: center;
  background-color: rgb(81, 80, 80);
  font-weight: bold;
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

td.score_sum_bgd {
  text-align: center;
  background-color: rgb(35, 35, 35);
  color: white;
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

th.date {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

td.team_name {
  color: black;
  text-align: center;
  font-weight: bold;
}

table.con {
  border-color: black;
}

td.minimum {
  text-align: center;
  background-color: rgb(255, 0, 0);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

td.maximum {
  text-align: center;
  background-color: rgb(0, 69, 1);
  color: rgb(0, 0, 0);
  font-weight: bold;
  border: 0.2rem solid;
  border-color: rgb(0, 0, 0);  
}

td.no_bord {
  border: 0rem;
  background-color: rgb(255, 255, 255);
  color: white;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}